body {
	background: #f6f6f6;
	max-width: 560px;
	width: 100%;
	margin: auto;
	font-family: Arial;

}

.cabeçalho {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.cabeçalho h2 {
	font-size: 20px;
	font-weight: normal;
	color: #555;

}
.cabeçalho .setinha {
	height: 16px;
	margin-left: 10px;
}

.cabeçalho a {
	color: #a8a8a8;
	text-decoration: none;
	transition: all 0.5s;
}

.cabeçalho a:hover {
	color: black;
	
}

.banner h1 {
	background-color: #4A6527;
	color: white;
	text-align: right;
	margin: 0;
	padding: 20px;
	font-size: 20px;
	font-weight: normal;

}

.banner img {
	display: block;
	width: 100%;

}

.banner {
	margin-bottom: 20px;

}

.caixabranca {
	background-color: white;
	padding: 20px;
	border: solid 1px #ddd;

}

.caixbranca h2 {
	color: #555
	font-weight: normal;

}

.caixabranca p {
	color: #ababab;

}
.caixabranca img {
	width: 100%;
}

.botaoverde {
	background-color: #4A6527;
	color: white;
	padding: 10px;
	font-weight: bold;
	border: none;
	display: block;
	margin-left: auto;
}

.colunas {
	display: flex;
	margin: 20px 0;
}
.colunas .coluna:first-child {
	margin-right: 20px;

}

.colunas .metade {
	width: 50%;
}
.colunas .coluna .umterco {
	width: 34%;
}

.coluna .coluna .doisterco {
	width: 66%;

}

.caixaverde {
	background-color: #7e9352;
	color: white;
	padding: 20px;
	flex-grow: 1;
}
.caixaverde .conteudo {
	color: white;
	padding: 20px;
}
.caixaverde h2 {
	font-weight: normal;
	margin-top: 0;
}
.caixaverde a {
	color: white
	background-color: #4A6527;
	text-decoration: none;
	padding: 20px;
}

.rodape {
	display: flex;
	background-color: #7e9e52;
	color: white;
	align-items: center;
}
.rodape .texto {
	padding: 20px;
	flex-grow: 1;
}
.rodape img {
	display: block;
}

@media (max-width: 560px) {
	{
		box-sizing: border-box;
	}


.cabecalho a {
	display: none;
	}

.colunas {
	flex-direction: column;
}
.colunas .metade,
.colunas .umterco,
.colunas .doisterco {
	width: 100%
}

.colunas .coluna:first-child {
	margin-bottom: 20px;

}